{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
